{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}           
            {% for news in news_list%}
                <a href="{{ news.url }}">
                    <h3>{{ news.title }}</h3>
                </a>
                <p>{{ news.description }}</p>
                {% if news.pic != None%}
                    <img src="{{ news.pic }}" width="800">
                {% endif %}
                <br>
                <span>{{ news.author }} {{ news.written.strftime('%d.%m.%Y') }}</span>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('article.edit_post', id=news['id']) }}">
                        <span class="badge text-bg-warning">Edit</span>
                    </a>
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}    
