{% extends "base.html" %}

{% block content %}

{% include('messages.html') %}

{% for news in news_list%}

<div class="card">
    <div class="card-header">
        <a href="{{ url_for('user.profile', username=news.author.username) }}" class="text-decoration-none">
            <div class="d-flex align-items-center">
              <img src="{{ news.author.avatar }}" alt="Аватар пользователя" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
              <span>{{ news.author.username }}</span>
            </div>
          </a>
    </div>
    <div class="card-body">
      <a href="{{ news.url }}">
        <h5 class="card-title">{{ news.title }}</h5>
      </a>
      <p class="card-text">{{ news.description }}</p>
      {% if news.pic != None%}
        <img src="{{ news.pic }}" width="800">
        <br>
      {% endif %}

      {% if current_user.is_authenticated %}
      <div class="like-container">
        <form action="{{ url_for('article.like_toggle', article_id=news.id) }}" method="post" style="display:inline;">
          <button type="submit" style="background: none; border: none;">
            {% if news.is_liked_by(current_user) %}
            <i class="bi bi-heart-fill" style="color: red;"></i>
            {% else %}
            <i class="bi bi-heart" style="color: red;"></i>
            {% endif %}
          </button>
        </form>
        <span>{{ news.likes_count() }}</span>
      </div>
      {% endif %}
    </div>
  </div>

{% endfor %}

{% endblock %}   