<div class="container-fluid" style="background-color: #e3f2fd; padding-left: 20px; padding-right: 20px;">
  <header class="d-flex flex-wrap justify-content-center py-2 mb-4 " >
    <a href="/index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Geek Space</span>
    </a>
    <form class="d-flex" role="search" action="{{ url_for('article.search') }}" method="post">
      <input class="form-control me-2" type="search" placeholder="Search" name="search_query" aria-label="Search" 
          value="{{ request.form['search_query'] }}">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <ul class="nav nav-pills"> 
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('article.create_post')}}">New Post</a>
      </li>
      {% endif %}
      {% if not current_user.is_authenticated %}
        <li style="padding-left: 8px;">
          <a button type="button" class="btn btn-outline-primary me-2" href="{{url_for('user.login')}}">Войти в систему</a>
        </li>
        <li>
          <a button type="button" class="btn btn-primary" href="{{url_for('user.register')}}">Регистрация</a>
        </li>
        <li>
          </li>
      {% else %}
      <li>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ current_user.avatar }}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
       <!-- <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li> -->
            <li><a class="dropdown-item" href="{{ url_for('user.profile', username=current_user.username) }}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Sign out</a></li>
            <!-- <li><a class="dropdown-item" href="logout">Sign out</a></li> -->
          </ul>
        </div>
      </li>
      {% endif %}
    </ul>
  </header>
</div>